<section class="categories my-5">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="card-title text-center">Editar categoria</h5>
            <%= render 'form' %>
          </div>
        </div>
      </div>
    </div>
  </div>  
</section>